{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>资讯正文</p>
</div>

<div class="arc_arc">
	<div class="nr">
    	<p class="p1">{$article['Title']}</p>
        <p class="p2">作者：六一&nbsp;&nbsp;&nbsp;&nbsp;   阅读：{$article['ReadNum']}<span>{$article['CreateTime']|date="Y-m-d H:i:s"}</span></p>
        <img src="/home/picture/tp13.png" />
        <p class="p3">{$article['Content']}</p>
</div>






<!--底部js-->
<script type="text/javascript" src="js/footer.js"></script>
</body>
</html>
