{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>资讯正文</p>
</div>

<div class="arc_arc">
	<div class="nr">
    	<p class="p1">兰州市慈善总会去年收到捐赠资金1441万元</p>
        <p class="p2">作者：六一&nbsp;&nbsp;&nbsp;&nbsp;   阅读：200<span>2020-05-14</span></p>
        <img src="/home/picture/tp13.png" />
        <p class="p3">5月13日上午，兰州市慈善总会召开第三届理事会第五次会议。会议审议并通过了《兰州市慈善总会2020年工作报告》《兰州市慈善总会2020年度财务报告》《兰州市慈善总会第三届五次理事会人增补及变动情况的说明》。据《兰州市慈善总会2020年工作报告》显示，2020年兰州市慈善总会共收到社会各界捐赠资金收入1441万元，捐赠物资价值15万元，助困、助学、助医、助孤、助残、助老、赈灾、扶贫、基金等方面共计支出1239万元，其中善款支出1224万元，物资支出15万元特别是在这次抗击新冠肺炎疫情和文县灾后重建的工作中，兰州市慈善总会汇集社会力量，持续发力，赢得了社会各界的肯定和赞誉。</p>
    </div>
</div>






<!--底部js-->
<script type="text/javascript" src="js/footer.js"></script>
</body>
</html>
