<div class="footer clr">
    <ul>
        <li class="chk">
            <a href="{:URL('/')}">
                <div class="tb"></div>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="{:URL('/home/xlzxs_list')}">
                <div class="tb"></div>
                <p>问医生</p>
            </a>
        </li>
        <li>
            <a href="{:URL('/home/hosp_list')}">
                <div class="tb"></div>
                <p>找医院</p>
            </a>
        </li>
        <li>
            <a href="{:URL('/home/grzx_main')}">
                <div class="tb"></div>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>