<div class="footer clr" style="left:0;right:0;">
    <ul style="display:flex;">
        <li class="chk">
            <a href="{:URL('/')}">
                <div class="tb" style="margin-bottom:2px;"></div>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="{:URL('/home/xlzxs_list')}">
                <div class="tb" style="margin-bottom:2px;"></div>
                <p>问医生</p>
            </a>
        </li>
        <li>
            <a href="{:URL('/home/hosp_list')}">
                <div class="tb" style="margin-bottom:2px;"></div>
                <p>找医院</p>
            </a>
        </li>
        <li>
            <a href="{:URL('/home/grzx_main')}">
                <div class="tb" style="margin-bottom:2px;"></div>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>