{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>关爱社会</p>
</div>
<!--bann模块-->
<div class="gash_bann"></div>
<div class="gash_mj">
	<div class="nr">
    	<img src="/home/picture/tp13.png" class="img01"/>
        <p class="p1">目前累计金额<span>5000元</span></p>
        <p class="p2">简介：4月8日，“汇聚爱心 点亮希望”精准扶贫助学活动在青海省西宁市城北区双苏学校举行。爱企业北京高能时代环境技术股份有限公司为资助学生颁发助学金、发放环境保护读本</p>
        <p class="p3">计划募捐：10000元</p>
        <p class="p3">募捐截止时间：2021-05-14</p>
        <p class="p3">发起单位：xxxxxxxxxxxxxxxxxxxxx></p>
        <p class="p3">监管单位：xxxxxxxxxxxxxxxxxxxxx</p>
        <ul>
        	<li>
            	<p class="p4">募捐金额</p><input type="text"  class="va01"/>
            </li>
            <li>
            	<p class="p4">捐款人</p><input type="text"  class="va01"/>
            </li>
            <li>
            	<p class="p4">联系电话</p><input type="text"  class="va01"/>
            </li>
            <li>
            	<p class="p4">捐赠留言</p><input type="text"  class="va01"/>
            </li>
        </ul>
		<p class="p5"><input name="niming" type="checkbox" value="" class="va02"/>是否匿名</p>
        <p class="p6">
            <input type="radio" value="" id="weixin" name="zhifu" class="va03"/>
            <label for="weixin"><img src="picture/tb21.png" />微信支付</label>
        </p>
        <p class="p7">
        	<input type="radio" value="" id="zhifubao" name="zhifu" class="va03"/>
        	<label for="zhifubao"><img src="picture/tb22.png" />支付宝支付</label>
        </p>
        
        <a href="#">提交</a>
    </div>
    <div style="height:0.5rem;"></div>
</div>



<div style="height:1rem;"></div>

<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
