{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head3">
	<div class="top">
    	<a href="javascript:history.go(-1);"><img src="/home/picture/tb38.png" class="fh" /></a>
<!--        <p><img src="/home/picture/tb39.png" class="rz" />申请入驻</p>-->
    </div>
    <div class="zxs_fn">
        <div class="find">
            <form>
                <input type="text" placeholder="请输入机构名称" name="keywords" class="ct" />
                <input type="submit" value="搜索" class="ser"/>
            </form>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<!---->
<div class="gash_cszz">
	<div class="tt">
    	<p>慈善组织</p>
    </div>
    <ul>
        {foreach $data as $k=>$v}
            <li>
                <img src="{$v['Img']}" />
                <div class="rt">
                    <p class="p1">{$v['Title']}</p>
                    <p class="p2">{$v['Brief']|mb_substr=0,20,'utf-8'}...</p>
                </div>
            </li>
        {/foreach}
    </ul>
</div>



<div style="height:1rem;"></div>

<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
