{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>关爱社会</p>
</div>
<!--bann模块-->
<div class="gash_bann"></div>
<div class="gash_nav">
	<ul>
    	<li>
        	<a href="{:URL('/home/gash_zzjg')}">
                <img src="/home/picture/tb34.png" />
                <p>组织机构</p>
            </a>
        </li>
        <li>
        	<a href="#">
                <img src="/home/picture/tb35.png" />
                <p>关爱社会</p>
            </a>
        </li>
        <li>
        	<a href="#">
                <img src="/home/picture/tb36.png" />
                <p>求助</p>
            </a>
        </li>
        <li>
        	<img src="/home/picture/tb37.png" />
            <p>咨询</p>
        </li>
    </ul>
</div>
<!--公益募捐-->
<div class="gash_gymj">
	<div class="tt">
    	<img src="/home/picture/tp10.png" />
    </div>
    <ul>
    	<li>
            <img src="/home/picture/tp01.png" />
            <p class="p1">关爱贵州留守儿童</p>
            <p class="p2">截止：2021-05-14</p>
        </li>
        <li>
        	<img src="/home/picture/tp01.png" />
            <p class="p1">关爱贵州留守儿童</p>
            <p class="p2">截止：2021-05-14</p>
        </li>
        <li>
        	<img src="/home/picture/tp01.png" />
            <p class="p1">关爱贵州留守儿童</p>
            <p class="p2">截止：2021-05-14</p>
        </li>
    </ul>
</div>
<!--慈善咨询-->
<div class="gash_cszx">
	<div class="tt">
    	<p>慈善资讯</p>
    </div>
    <ul>
    	<li>
        	<a href="{:URL('/home/gash_zx')}">
                <img src="/home/picture/tp11.png" />
                <div class="rt">
                    <p>新疆丝绸古老手工艺焕发青春助力</p>
                    <p>四月初，在新疆和田市吉亚乡喀勒塔吐格曼村，第四代新疆艾德莱斯丝...</p>
                </div>
            </a>
        </li>
        <li>
        	<a href="{:URL('/home/gash_zx')}">
                <img src="/home/picture/tp11.png" />
                <div class="rt">
                    <p>新疆丝绸古老手工艺焕发青春助力</p>
                    <p>四月初，在新疆和田市吉亚乡喀勒塔吐格曼村，第四代新疆艾德莱斯丝...</p>
                </div>
            </a>
        </li>
        <li>
        	<a href="{:URL('/home/gash_zx')}">
                <img src="/home/picture/tp11.png" />
                <div class="rt">
                    <p>新疆丝绸古老手工艺焕发青春助力</p>
                    <p>四月初，在新疆和田市吉亚乡喀勒塔吐格曼村，第四代新疆艾德莱斯丝...</p>
                </div>
            </a>
        </li>
        <li>
        	<a href="{:URL('/home/gash_zx')}">
                <img src="/home/picture/tp11.png" />
                <div class="rt">
                    <p>新疆丝绸古老手工艺焕发青春助力</p>
                    <p>四月初，在新疆和田市吉亚乡喀勒塔吐格曼村，第四代新疆艾德莱斯丝...</p>
                </div>
            </a>
        </li>
        <li>
        	<a href="{:URL('/home/gash_zx')}">
                <img src="/home/picture/tp11.png" />
                <div class="rt">
                    <p>新疆丝绸古老手工艺焕发青春助力</p>
                    <p>四月初，在新疆和田市吉亚乡喀勒塔吐格曼村，第四代新疆艾德莱斯丝...</p>
                </div>
            </a>
        </li>
    </ul>
</div>





<div style="height:1rem;"></div>

<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
