{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>交易评价记录</p>
</div>

<div class="grzx_jypj">

<!--    {empty name='data'}-->
<!--       <p style="margin-top:13px;text-align:center;">暂时没有您的记录</p>-->
<!--    {/empty}-->

	<ul>

        {foreach $user_test_order as $k=>$v}
    	<li>
        	<div class="test">
            	<p class="p1"><span></span>{$v['TestType']}</p>
                <p class="p2">{$v['CreateTime']|date='Y-m-d'}<span>￥{$v['Money']}</span></p>
<!--                <p class="p3">心理医师：王医生</p>-->
<!--                <p class="p4"><span>喜爱度：</span><img src="/home/picture/tb19.png" /><img src="/home/picture/tb19.png" /><img src="picture/tb19.png" /><img src="picture/tb18.png" /><img src="picture/tb18.png" /></p>-->
                <a href="{:URL('/home/grzx_csjg?order_id='.$v['order_id'])}">查看结果</a>
<!--                <a href="{:URL('/home/grzx_cspj')}">我的评价</a>-->
            </div>
        </li>
        {/foreach}


        {foreach $data as $k=>$v}
            <li>
                <div class="test">
                    <p class="p1"><span></span>倾诉一刻</p>
                    <p class="p2">{$v['CreateTime']|date='Y-m-d'}<span>￥{$v['Money']}</span></p>
                    <p class="p3">心理医师：{$v['RealName']}</p>
<!--                    <p class="p4"><span>喜爱度：</span><img src="/home/picture/tb19.png" />-->
<!--                        <img src="/home/picture/tb19.png" />-->
<!--                        <img src="picture/tb19.png" />-->
<!--                        <img src="picture/tb18.png" />-->
<!--                        <img src="picture/tb18.png" />-->
<!--                    </p>-->
                    <a href="{:URL('/home/grzx_zxspj?doctor_id='.$v['DoctorID'].'&order_id='.$v['ID'])}">我的评价</a>
                </div>
            </li>
        {/foreach}
    </ul>
</div>





<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
