{include file="home/header" /}
{load href="/home/css/up.css"}
{load href="/home/js/up.js"}
{load href="/admin/lib/layui/layui.js"}
{load href="/admin/js/xadmin.js"}
{load href="/admin/css/xadmin.css"}
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

<body style="background:#f5f5f5;margin:0 auto;">
<div class="head2">
    <a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png"/></a>
    <p>机构入驻申请</p>
</div>
<div class="grzx_jgrz">
    <form class="layui-form layui-col-md12  layui-form-pane" method="post"
          action="{:URL('/home/hospital_certification')}" enctype="multipart/form-data" onsubmit="return CheckSubmit()">
        <div class="nr">
            <div class="layui-form-item">
                <label class="layui-form-label">机构名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="live_name" autocomplete="off" placeholder="请输入机构名称"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item x-city" id="start">
<!--                <label class="layui-form-label" style="width:122px;">地址</label>-->
                <div class="layui-input-inline" style="margin-left:5px;">
                    <select name="province" lay-filter="province">
                        <option value="">请选择省</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="margin-left:5px;">
                    <select name="city" lay-filter="city">
                        <option value="">请选择市</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="margin-left:5px;">
                    <select name="area" lay-filter="area">
                        <option value="">请选择县/区</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">具体地址</label>
                <div class="layui-input-block">
                    <input type="text" name="address" id="live_address" autocomplete="off" placeholder="请输入详细地址"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系人</label>
                <div class="layui-input-block">
                    <input type="text" name="user_name" id="live_username" autocomplete="off" placeholder="请输入联系人"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系方式</label>
                <div class="layui-input-block">
                    <input type="number" name="user_phone" id="live_phone" autocomplete="off" placeholder="请输入联系方式"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">营业时间</label>
                <div class="layui-input-block">
                    <input type="text" name="business_time" id="live_time" autocomplete="off" placeholder="请输入营业时间"
                           class="layui-input">
                </div>
            </div>
            <div class="kg"></div>
            <p class="p1">营业执照：</p>
            <!--            <img src="picture/tp17.png" class="sc"/>-->
            <div style="width:76%;display:flex;">
                <div class="id_img_wp">
                    <input type="file" name="business_license" onchange="getzImg(this)" style="display:none" value="" id="img_z"/>
                    <div class="img_wp" onclick="upload()">
                        <img style="width:204px;height:130px;"  src="/home/picture/upload.png" id="zmz">
                    </div>
                </div>
<!--                <img src="/home/picture/tp18.png" class="sc"/>-->
            </div>
            <p class="p3">*请上传清晰、且正面的营业执照图片，不能涂改、修改或污点。文件不能大于500K</p>
            <div class="kg"></div>
            <input type="hidden" name="is_persion"  value="2">
            <div style="text-align: center;display:flex;margin-top:20px;">
                <input style="margin:auto" type="submit" value="提交" class="tj" />
<!--                <a style="margin:auto" href="grzx_jgrztj.html" class="tj">提交</a>-->
            </div>
            <div class="kg"></div>
        </div>
    </form>

</div>


<div style="height:1rem;"></div>

{load href="/admin/js/xcity.js"}
{load href="/home/js/ischeck.js"}
<script>
    layui.use(['form', 'code'], function () {
        form = layui.form;

        layui.code();

        $('#start').xcity();


    });
</script>
{include file="home/footer" /}
</body>
</html>
