{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>测试结果</p>
</div>

<div class="grzx_csjg">
	<div class="csjg">
    	<p class="p1">抑郁症测试结果</p>
        <p class="p2">或许您在生活中遇到过很多的不开心和不理解，但是那些事不能成为您人生道路的绊脚石，因为我们每个人都有选择去爱或者被爱，接受或者被接受的选择，当您遇到这些事情的时候，跟着自己的内心去走，慢慢走出自己的生活方式。但是您在生活中多点知心朋友是很必要的，那样可以在必要的时候找到倾诉的对象。加油吧</p>
        <p class="p3">总体得分：<span>60分</span></p>
        <div class="jdt">
        	<div class="jd">
            	<div class="jd01"></div>
            </div>
        </div>
    </div>
    <div class="wmjy">
    	<div class="jy">
        	<p class="p1">我们的建议</p>
            <p class="p2">1.正确对待疾病，保持乐观心态。</p>
            <p class="p2">2.及时求助医生，服药缓解抑郁症状。</p>
            <p class="p2">3.求助于心理专家，接受心理治疗。</p>
            <p class="p2">4.改善家庭环境，优化家庭氛围。</p>
            <p class="p2">5.坚持每天完成一件任务，转移注意力。</p>
            <p class="p2">6.家人可以鼓励患者多参加社交活动。</p>
            <p class="p2">7.听听轻音乐，听听歌，唱唱歌。</p>
            <p class="p2">8.积极进行认知调整。</p>
            <p class="p2">9.多活动，多锻炼。</p>
            <p class="p2">10.进行积极的自我暗示。</p>
            <div class="hx"></div>
            <p class="p3">如果你需要与医生见面进行了解，请<a href="#">点击这里进入</a></p>
        </div>
    </div>
</div>





<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
