{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>我的咨询</p>
</div>
<div class="grzx_wdzx">
	<div class="xl">
    	<p class="p1"><span></span>心理类咨询<img src="/home/picture/tb50.png" /></p>
        <ul>
        	<li>张医生<span>2021-05-21</span></li>
            <li>张医生<span>2021-05-21</span></li>
            <li>张医生<span>2021-05-21</span></li>
        </ul>
    </div>
    <div class="xl">
    	<p class="p1"><span></span>精神类咨询<img src="/home/picture/tb50.png" /></p>
        <p class="p2">没有更多信息展示</p>
    </div>
    <div class="xl">
    	<p class="p1"><span></span>其他类咨询<img src="/home/picture/tb50.png" /></p>
        <p class="p2">没有更多信息展示</p>
    </div>
    
</div>






<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
