{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>我的关注</p>
</div>

<div class="grzx_wdgz">
	<div class="gz">
    	<div class="tt">
        	<p><img src="/home/picture/tb51.png" />我浏览的文章</p>
        </div>
        <ul>
            {foreach $user_article as $k=>$v}
            <a href="{:URL('/home/arc_arc/'.$v['ID'])}">
                <li>
                    <p class="p1">{$v['Title']}</p>
                    <p class="p2">{$v['CreateTime']|date="Y-m-d"}&nbsp;阅读：{$v['ReadNum']}</p>
    <!--                <p class="p3"><img src="/home/picture/tb52.png" />取消关注</p>-->
                    <p class="p4">{$v['Content']|raw|mb_substr=0,15,'utf-8'}...</p>
                </li>
            </a>
            {/foreach}
        </ul>
    </div>
    <div class="gzys">
    	<div class="tt">
        	<p><img src="/home/picture/tb51.png" />我关注的医生</p>
        </div>
        <ul>
            {foreach $user_follow_doctor as $k=>$v}
                <li>
                    <a href="{:URL('/home/xlzxs_arc/'.$v['ID'])}">
                        <img src="{$v['UserAvatar']}" class="txtb" />
                        <p class="p1">{$v['RealName']}</p>
                        <p class="p3">
                            <a href="javascript:" onclick="UnFollow({$v['ID']})">
                               <img src="/home/picture/tb52.png" />
                                取消关注
                            </a>
                        </p>
                    </a>
                </li>
            {/foreach}
        </ul>
    </div>
<!--    <div class="gz">-->
<!--    	<div class="tt">-->
<!--        	<p><img src="/home/picture/tb51.png" />我关注的文章</p>-->
<!--        </div>-->
<!--        <ul>-->
<!--        	<li>-->
<!--            	<p class="p1">抑郁症前兆的10个表现</p>-->
<!--                <p class="p2">2021-05-10&nbsp;阅读：500</p>-->
<!--                <p class="p3"><img src="/home/picture/tb52.png" />取消关注</p>-->
<!--                <p class="p4">5月13日上午，兰州市慈善总会召开第三届理事会第五次会议。会议审议并通过了...</p>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
    
    
    <div style="height:2rem; clear:both;"></div>
</div>

{load href="/admin/lib/layui/layui.js"}

<script>

    layui.use(['form', 'code'], function () {
        form = layui.form;

    });

    function UnFollow(id){
        console.log(id)
        $.ajax({
            url:'/home/UnFollow/'+id,
            type:'GET',
            data:{},
            dataType:'JSON',
            success:function (data){
                if(data['code'] == 200){
                    layer.msg(data.msg, {icon: 1, time: 1500});
                    location.reload();
                }else{
                    layer.msg(data.msg, {icon: 5, time: 2000});
                }
            }

        })
    }
</script>



<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
