{include file="home/header" /}
{load href="/home/css/up.css"}
{load href="/home/js/up.js"}
{load href="/admin/lib/layui/layui.js"}
{load href="/admin/js/xadmin.js"}
{load href="/admin/css/xadmin.css"}
<style>
    .layui-form-checkbox[lay-skin=primary] span{
        height:35px;
    }

</style>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

<body style="background:#f5f5f5;">
<div class="head2">
    <a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png"/></a>
    <p>心理医生入驻申请</p>
</div>
<div class="grzx_ysrz">
    <form class="layui-form layui-col-md12  layui-form-pane" method="post"
          action="{:URL('/home/people_certification')}"
    enctype="multipart/form-data" onsubmit="return CheckSubmit()">

        <div class="nr">
            <!--    	<p class="p1">姓    名：</p><input type="text" class="tex01"/>-->
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name"  id="live_name" autocomplete="off" placeholder="请输入姓名"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item x-city" id="start">
                <!--                <label class="layui-form-label" style="width:122px;">地址</label>-->
                <div class="layui-input-inline" style="margin-left:5px;">
                    <select name="province" lay-filter="province">
                        <option value="">请选择省</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="margin-left:5px;">
                    <select name="city" lay-filter="city">
                        <option value="">请选择市</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="margin-left:5px;">
                    <select name="area" lay-filter="area">
                        <option value="">请选择县/区</option>
                    </select>
                </div>
            </div>
            <!--        <input type="text"   value="请输入详细地址" class="tex02"/>-->
            <div class="layui-form-item">
                <label class="layui-form-label">具体地址</label>
                <div class="layui-input-block">
                    <input type="text" name="address"  id="live_address" autocomplete="off" placeholder="请输入详细地址"
                           class="layui-input">
                </div>
            </div>
            <!--        <p class="p1">联系方式：</p><input type="text" class="tex01"/>-->
            <!--        <div class="kg"></div>-->
            <!--        <p class="p1">服务时间：</p><input type="text" class="tex01"/>-->
            <div class="layui-form-item">
                <label class="layui-form-label">联系方式</label>
                <div class="layui-input-block">
                    <input type="text" name="user_phone" id="live_phone" autocomplete="off" placeholder="请输入电话号"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">服务时间</label>
                <div class="layui-input-block">
                    <input type="text" name="business_time"  id="live_time" autocomplete="off" placeholder="请输入时间"
                           class="layui-input">
                </div>
            </div>
            <div class="kg"></div>
            <div class="bg"></div>
            <div class="kg"></div>
            <p class="p1">执业证：</p>
            <!--        <img src="/home/picture/tp17.png" class="sc"/>-->
            <!--        <img src="/home/picture/tp20.png" class="sc"/>-->
            <div style="width:76%;display:flex;">
                <div class="id_img_wp">
                    <input type="file" name="license_permission" onchange="getzImg(this)" style="display:none" value="" id="img_z"/>
                    <div class="img_wp" onclick="upload()">
                        <img style="width:204px;height:130px;" src="/home/picture/upload.png" id="zmz">
                    </div>
                </div>
                <!--                <img src="/home/picture/tp18.png" class="sc"/>-->
            </div>
            <p class="p3">*请上传清晰、且正面的执业照图片，不能涂改、修改或污点。文件不能大于500K</p>
            <div class="kg"></div>
            <div class="bg"></div>
            <div class="ly">
                <p class="p5">选择领域：</p>
<!--                <ul>-->
<!--                    <li>婚姻</li>-->
<!--                    <li>家庭</li>-->
<!--                    <li>职场</li>-->
<!--                    <li>人际</li>-->
<!--                    <li>婚姻</li>-->
<!--                    <li>家庭</li>-->
<!--                    <li>职场</li>-->
<!--                    <li>人际</li>-->
<!--                </ul>-->

                    <div class="layui-input-block" style="height: 100px;float: left;width: 98%;margin-left: 10px">
                        <input type="checkbox" name="specialty[]" lay-skin="primary" title="婚姻" value="婚姻">
                        <input type="checkbox" name="specialty[]" lay-skin="primary" title="生活" value="生活">
                        <input type="checkbox" name="specialty[]" lay-skin="primary" title="工作" value="工作">
                        <input type="checkbox" name="specialty[]" lay-skin="primary" title="性格" value="性格">
                        <input type="checkbox" name="specialty[]" lay-skin="primary" title="家庭" value="家庭">
                        <input type="checkbox" name="specialty[]" lay-skin="primary" title="情感" value="情感">
                        <input type="checkbox" name="specialty[]" lay-skin="primary" title="智商" value="智商">
                        <input type="checkbox" name="specialty[]" lay-skin="primary" title="人际" value="人际">

                    </div>
                <p class="p6">*最多选择三个擅长领域,如果多选将直接影响您的审核</p>
            </div>

<!--            <a href="#" class="bc">保存</a>-->
<!--            <a href="{:URL('/home/grzx_ysrztj')}" class="tj">提交审核</a>-->
            <div style="display: flex;">
                <input style="margin:auto;" type="submit" class="tj" value="提交审核" />
            </div>
            <div class="kg"></div>
        </div>

    </form>
</div>


<div style="height:1rem;"></div>
{load href="/admin/js/xcity.js"}
{load href="/home/js/ischeck.js"}
<script>
    layui.use(['form', 'code'], function () {
        form = layui.form;

        layui.code();

        $('#start').xcity();

    });

    // function CheckSubmit(){
    //     if($('#live_name').val().length<1){
    //         $('#live_name').focus();
    //         layer.msg('请输入您的名字或者商家名字', { icon:5,time:2000})
    //         return false;
    //     }
    //     if($('#live_address').val().length<1){
    //         $('#live_address').focus();
    //         layer.msg('请输入您的具体地址', { icon:5,time:2000})
    //         return false;
    //     }
    //     if($('#live_phone').val().length<1){
    //         $('#live_name').focus();
    //         layer.msg('、请输入您的手机号', { icon:5,time:2000})
    //         return false;
    //     }
    //     if($('#live_time').val().length<1){
    //         $('#live_time').focus();
    //         layer.msg('、请输入您的服务时间', { icon:5,time:2000})
    //         return false;
    //     }
    // }
</script>

{include file="home/footer" /}
</body>
</html>
