{include file="home/header" /}

<body style="background:#fff;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>提交审核</p>
</div>
<div class="grzx_jgrztj">
    <div class="swjg">
    	<p>我们正在对您提交的资料进行审核，请您耐心等待。如果显示一直处于等待中，您可以直接拨打400XXXX</p>
    </div>
    <p class="p1">商家名：{$result['Name']}</p>
    <p class="p1">机构地址： {$result['Province']}{$result['City']}{$result['Area']}{$result['Address']}</p>
    <p class="p1">联系人：    {$result['UserName']}</p>
    <p class="p1">联系方式：    {$result['UserPhone']}</p>
    <p class="p1">服务时间：    {$result['BusinessTime']}</p>
    <div class="yyzz">
    	<p class="p2">营业执照</p>
        <img src="{$result['BusinessLicense']}" />
    </div>
<!--    <div class="wsxk">-->
<!--    	<p class="p2">卫生许可证</p>-->
<!--        <img src="/home/picture/tp19.png" />-->
<!--    </div>-->
    <div class="tjan" style="display: flex;">
        <a style="margin:auto;margin-top:50px;" href="{:URL('/home/grzx_main')}">返回</a>
<!--    	<a href="javascript:history.go(-1);">返回修改</a>-->
<!--        <a href="#" class="a2">确定等待</a>-->
    </div>
    
</div>


<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
