<html>
<head>
    <title>资讯正文</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="240"/>
    <meta name="format-detection" content="telephone=no"/>
    {load file="/home/css/main.css"}
    {load file="/home/js/jquery.js"}
    {load file="/home/js/rem_auto.js"}
</head>

