{include file="home/header" /}
<style>
    .layui-btn {
        height: 30px;
        line-height: 30px;
        border: 1px solid transparent;
        padding: 0 18px;
        background-color: #009688;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        font-size: 14px;
        border-radius: 2px;
        cursor: pointer;
    }
</style>
<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>医院介绍</p>
</div>
<div class="hosp_fd">
	<div class="find">
        <form>
            <input type="text" placeholder="请输入城市" name="city" class="ct" />
            <input type="submit" value="搜索" class="ser"/>
        </form>
    </div>

    <span style="position:fixed;right:20px;top:40px;color:white;" class="icon">更多城市</span>


    <div style="clear:both;"></div>
</div>



<!--城市查找侧边栏-->
<div class="yyTree" id="yyTree">
    <dl class="yyTrft">
        <div class="bt">
            <img src="/home/images/tb26.png" class="adr"/>
            <p>全部医院</p>
            <img src="/home/images/tb27.png" class="chk icon"/>
        </div>
        <div class="hx"></div>
        <div class="dq">
            {if empty(!$area)}
                {foreach $area as $k=>$v}
                <p class="p1">{$v['CityName']}</p>
                <ul>
                    {foreach $v['cityall'] as $k=>$item}
                    <li><a href="{:URL('/home/hosp_search/'.$item['CityName'])}">{$item['CityName']}</a></li>
                    {/foreach}
                </ul>
                {/foreach}
            {/if}
        </div>
    </dl>
    <div class="yyTrRt"></div>
</div>



<script>
	$(function(){
		$(".icon").click(function(){
			//$(".navTree").show();
			$(".yyTree").addClass("thisyyTree");
			$("body").addClass("noScroll");
		});
		
		$(".yyTrRt").click(function(){
			//$(".navTree").hide();
			$(".yyTree").removeClass("thisyyTree");
			$("body").removeClass("noScroll");
		});

	});
</script> 



<div class="hosp_list" stye="margin-top:0;">

	<ul class="u1">
        {if empty($data)}
          <p style="text-align:center">当前该区域暂时没有医院，敬请期待！</p>
        {else /}
        {foreach $data as $k=>$v}
    	<li>
        	<a href="{:URL('/home/hosp_arc/'.$v['UID'])}">
                <img src="{$v['UserAvatar']}" />
                <div class="rt">
                    <p class="p1">{$v['Name']}</p>
                    <p class="p2">营业时间：{$v['BusinessTime']}</p>
                    <p class="p3">地址：{$v['pro']}{$v['city']}{$v['area']}{$v['Address']|mb_substr=0,1,'utf-8'}</p>
                </div>
            </a>
        </li>
        {/foreach}
        {/if}

        {notempty name="keywords"}
        <div style="display:flex;margin-top:30px;">
            <a style="margin:0 auto;" href="{:URL('/home/hosp_list')}" class="layui-btn">清空筛选</a>
        </div>
        {/notempty}
    </ul>
</div>




{include file="home/footer" /}

</body>
</html>
