{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="header">
    <a href="{:URL('/home/index')}"><img src="/home/picture/logo.png" class="logo"/></a>
    <p>精神康复 心理咨询 上k19</p>
    <a href="{:URL('/home/login')}"><img src="/home/picture/onload.png" class="img01"/></a>
</div>
<!--功能模块-->
<div class="in_nav">
    <div class="mk01">
        <ul>
            {foreach $result as $k=>$v}
            <li>
                <a href="{:URL($v['MenuUrl'].'?id='.$v['ID'])}">
                    <img src="/home/picture/{$v['MenuImg']}"/>
                    <p>{$v['MenuName']}</p>
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    <div class="mk02">
        <img src="/home/picture/tb06.png" class="ys"/>
        <div class="m01">
            <p>精神康复 心理咨询 首上k19</p>
            <p>汇聚全国医疗机构</p>
            <p>数千名权威心理咨询师 </p>
        </div>
        <div class="m02">
            <img src=""/>
        </div>
    </div>
</div>


<!-- RecommendDoctor -->
<div class="in_zxs">
    <ul>
        {foreach $doctor as $k=>$v}
        <li>
            <a href="{:URL('/home/xlzxs_arc/'.$v['UserId'])}">
                <img src="{$v['UserAvatar']}"/>
                <p>{$v['RealName']}</p>
            </a>
        </li>
        {/foreach}
    </ul>
</div>


<!-- RecommendHospital -->
<div class="in_zxs">
    <ul>
        {foreach $hospital as $k=>$v}
        <li>
            <a href="{:URL('/home/hosp_arc/'.$v['UserId'])}">
                <img src="{$v['UserAvatar']}"/>
                <p>{$v['Name']|mb_substr=0,4,'utf-8'}</p>
            </a>
        </li>
        {/foreach}
    </ul>
</div>


<div class="in_advert">
    <div class="nr">
        <p class="p1">资讯</p>
        <p class="p2">
            <a href="{:URL('/home/arc_arc/'.$article['ID'])}">
                {$article.Title}
            </a>
        </p>
        <img src="/home/picture/tb11.png"/>
    </div>
</div>

<div class="in_wzzx">
    <ul class="nav">

        <li style="display:flex;width:100%;">
            {foreach $bottommenu as $k=>$v}
            <p style="flex:1;" class="p1" index="{$v['ID']}">
<!--                <a style="color:black;" href="{:URL('/home/index?id='.$v['ID'])}">{$v['MenuName']}</a>-->
                   {$v['MenuName']}
            </p>
            {/foreach}

            {foreach $bottommenu as $k=>$v}
            <div class="wzzx" style="display:none;" item-index="{$v['ID']}">
                <ul>

                        {foreach $v['article'] as $item}
                            <a href="{:URL('/home/arc_arc/'.$item['ID'])}" id="article_item">
                                <li>
                                    <img src="{$item['ArticleImg']}"/>
                                    <div class="nr">
                                        <p class="p2">{$item['Title']}</p>
                                        <p class="p3">{$item['Content']}...</p>
                                    </div>
                                </li>
                            </a>
                        {/foreach}

                </ul>
            </div>
            {/foreach}
        </li>

    </ul>
</div>

<div class="gashxf">
    <a href="{:URL('/home/gash')}"><img src="/home/picture/gash.png"/></a>
</div>


{include file="home/footer" /}

<script>
    $('.wzzx').hide();
    $('.wzzx').eq(0).show();

    $('.in_wzzx .nav li .p1').click(function(){
        var indexVal=$(this).attr('index');
        $('.wzzx').hide();
        $('.wzzx[item-index="'+indexVal+'"]').show();
    })

    // $(".in_wzzx").find(".nav").find("li").find(".p1").click(function () {
    //     var indexVal = $('this').attr('index');
    //     console.log(indexVal)
    //     $('wzzx[item-index="'+indexVal+'"]').show();
    //     $(".in_wzzx").find(".nav").find("li").find(".p1").removeClass("chkcs");
    //     $(this).addClass("chkcs");
    //     $(".in_wzzx").find(".nav").find("li").find(".wzzx").hide();
    //     $(this).next(".wzzx").show();
    // });

</script>
</body>
</html>

