{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>精神疾病</p>
</div>

<div class="jsjb_list">
	<div class="mk01">
    	<ul>
        	<li><a href="#">精神分裂症</a></li>
            <li><a href="#">睡眠障碍</a></li>
            <li><a href="#">恐惧症</a></li>
            <li><a href="#">狂躁症</a></li>
            <li><a href="#">精神分裂症</a></li>
            <li><a href="#">睡眠障碍</a></li>
            <li><a href="#">恐惧症</a></li>
            <li><a href="#">狂躁症</a></li>
            <li><a href="#">精神分裂症</a></li>
            <li><a href="#">睡眠障碍</a></li>
            <li><a href="#">恐惧症</a></li>
            <li><a href="#">狂躁症</a></li>
            <li><a href="#">精神分裂症</a></li>
            <li><a href="#">睡眠障碍</a></li>
            <li><a href="#">恐惧症</a></li>
            <li><a href="#">狂躁症</a></li>
        </ul>
        <div style=" height:0.1rem;clear:both;"></div>
    </div>
    <div class="list clr">
    	<ul>
        	<li>
            	<a href="jsjb_arc.html">
            	<p class="p1">精神分裂症</p>
                <p class="p2">病因：大部分病人属慢性起病，工作的积极性和工作能力下降、学生学习成绩下降，对人冷C淡，与人疏远，对外界事物不感兴趣，对家人不知关心...</p>
                </a>
            </li>
           <li>
               <p class="p1">精神分裂症</p>
               <p class="p2">病因：大部分病人属慢性起病，工作的积极性和工作能力下降、学生学习成绩下降，对人冷C淡，与人疏远，对外界事物不感兴趣，对家人不知关心...</p>
       	   </li>
           <li>
               <p class="p1">精神分裂症</p>
               <p class="p2">病因：大部分病人属慢性起病，工作的积极性和工作能力下降、学生学习成绩下降，对人冷C淡，与人疏远，对外界事物不感兴趣，对家人不知关心...</p>
       	   </li>
           <li>
               <p class="p1">精神分裂症</p>
               <p class="p2">病因：大部分病人属慢性起病，工作的积极性和工作能力下降、学生学习成绩下降，对人冷C淡，与人疏远，对外界事物不感兴趣，对家人不知关心...</p>
       	   </li>
           <li>
               <p class="p1">精神分裂症</p>
               <p class="p2">病因：大部分病人属慢性起病，工作的积极性和工作能力下降、学生学习成绩下降，对人冷C淡，与人疏远，对外界事物不感兴趣，对家人不知关心...</p>
       	   </li>
        </ul>
    </div>
</div>




<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->
{include file="home/footer" /}
</body>
</html>
