{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>精神疾病</p>
</div>
<div class="jsjb_arc">
	<div class="jbbann">
    	<img src="/home/picture/tp15.png" />
    </div>
    <div class="nr">
    	<ul>
        	<li class="chk">病因</li>
            <li>症状</li>
            <li>治疗</li>
            <li>预防</li>
        </ul>
        <div class="by">
            <p class="p1"><img src="/home/picture/tb27.png" />病因</p>
            <p class="p2">身体、语言或性伤害可能导致虐待儿童。虽然虐待儿童通常被认为是采取行动的形式，但也有一些无所作为的例子，例如忽视，会造成伤害。与没有参加活动的家庭相比，参加者遭受酒精中毒，滥用药物或愤怒问题的家庭发生虐待儿童的可能性更高。虐待儿童的后果可能导致短期和长期伤害，甚至死亡。</p>
        </div>
        <div class="zz">
            <p class="p1"><img src="/home/picture/tb28.png" />症状</p>
            <p class="p2">身体、语言或性伤害可能导致虐待儿童。虽然虐待儿童通常被认为是采取行动的形式，但也有一些无所作为的例子，例如忽视，会造成伤害。与没有参加活动的家庭相比，参加者遭受酒精中毒，滥用药物或愤怒问题的家庭发生虐待儿童的可能性更高。虐待儿童的后果可能导致短期和长期伤害，甚至死亡。</p>
        </div>
        <div class="zl">
            <p class="p1"><img src="/home/picture/tb29.png" />治疗</p>
            <p class="p2">身体、语言或性伤害可能导致虐待儿童。虽然虐待儿童通常被认为是采取行动的形式，但也有一些无所作为的例子，例如忽视，会造成伤害。与没有参加活动的家庭相比，参加者遭受酒精中毒，滥用药物或愤怒问题的家庭发生虐待儿童的可能性更高。虐待儿童的后果可能导致短期和长期伤害，甚至死亡。</p>
        </div>
        <div class="yf">
            <p class="p1"><img src="/home/picture/tb30.png" />预防</p>
            <p class="p2">身体、语言或性伤害可能导致虐待儿童。虽然虐待儿童通常被认为是采取行动的形式，但也有一些无所作为的例子，例如忽视，会造成伤害。与没有参加活动的家庭相比，参加者遭受酒精中毒，滥用药物或愤怒问题的家庭发生虐待儿童的可能性更高。虐待儿童的后果可能导致短期和长期伤害，甚至死亡。</p>
        </div>
    </div>
    
</div>

<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->
{include file="home/footer" /}
</body>
</html>
