{include file="home/header" /}

<body style="background:#fff;">
<div class="login">
    <div class="hd01">
        <a href="javascript:history.go(-1);"><img src="/home/picture/tb55.png"/></a>
    </div>
    <div class="logo1">
        <img src="/home/picture/logo2.png"/>
    </div>
    <p class="p1">登录/注册</p>
    <form method="post" action="{:URL('/home/login')}">
        <div class="tel"><img src="/home/picture/tb56.png"/><input id="phone" name="PhoneNumber" type="text"
                                                                   placeholder="请输入您的手机号"/></div>
        <div class="yzm"><img src="/home/picture/tb57.png"/>
            <input type="text" name="captcha" placeholder="请输入短信验证码"/>
            <input style="width:36%;float:left;margin-top:4px;margin-left:5px;height:36px;" id="btn" type="button"
                   onclick="duanxin()" value="发送验证码"/>
        </div>
        <p class="p2">点击同意登录或者注册即代表您同意<span>《K19提供的相关服务条款》</span></p>
        <input type="submit"  class="a1" value="登录/注册"  />
    </form>
    <a href="#"><p class="p3">忘记密码</p></a>
</div>


<!--&lt;!&ndash;底部js&ndash;&gt;-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->


<script>
    // $(".in_wzzx").find(".nav").find("li").find(".p1").click(function(){
    // 	$(".in_wzzx").find(".nav").find("li").find(".p1").removeClass("chkcs");
    // 	$(this).addClass("chkcs");
    // 	$(".in_wzzx").find(".nav").find("li").find(".wzzx").hide();
    // 	$(this).next(".wzzx").show();
    // });

    function duanxin() {
//获取手机
        var phone = $("#phone").val();
        // console.log(phone);
        if (!(/^1[3-9|4|5|7|8][0-9]\d{8,11}$/.test(phone))) {
            alert('请输入正确的手机号');
            return false;
        } else {

            var count = 60;
            var countdown = setInterval(CountDown, 1000);

            function CountDown() {
                $("#btn").attr("disabled", true);
                $("#btn").val("已发送(" + count + ")");
                if (count == 0) {
                    $("#btn").val("获取验证码").removeAttr("disabled");
                    clearInterval(countdown);
                }
                count--;
            }
        }
        $.ajax({
            url: 'http://www.k19.com/home/SendCaptcha?phone=' + phone,
            data: {},
            type: "POST",
            dataType: "Json",
            success: function (data) {
                if (data['status'] == 200) {
                    // console.log(data);
                    alert('已发送');
                } else {
                    alert('发送失败');
                }
            }
        });

    }
</script>
</body>
</html>
