{include file="home/header" /}

<body style="background:#fff;">
<div class="login">
    <div class="hd01">
        <a href="{:URL('/')}"><img src="/home/picture/tb55.png"/></a>
    </div>
    <div class="logo1">
        <img src="/home/picture/logo2.png"/>
    </div>
    <p class="p1">登录/注册</p>
    <form method="post" action="{:URL('/home/SingIn')}" onsubmit="return IsCheckPhone()">
        <div class="tel">
            <img src="/home/picture/tb56.png"/>
            <input id="phone" name="PhoneNumber" type="text" placeholder="请输入您的手机号"/>
        </div>
        <div class="yzm"><img src="/home/picture/tb57.png"/>
            <input type="text" id="live_captcha" name="captcha" placeholder="请输入短信验证码"/>
            <input style="width:36%;float:left;margin-top:4px;margin-left:5px;height:36px;" id="btn" type="button" onclick="duanxin()" value="发送验证码"/>
        </div>
        <p class="p2">点击同意登录或者注册即代表您同意<span><a href="{:URL('/home/pact_k19')}">《K19提供的相关服务条款》</a></span></p>
        <input type="submit"  class="a1" value="登录/注册"  />
    </form>
<!--    <a href="#"><p class="p3">忘记密码</p></a>-->
</div>


<!--&lt;!&ndash;底部js&ndash;&gt;-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->
{load href="/admin/lib/layui/layui.js"}
{load href="/home/js/send_captcha.js"}

<script>

    layui.use(['form', 'code'], function () {
        form = layui.form;

    });
</script>
</body>
</html>
