{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="picture/tb16.png" /></a>
    <p>K19康复网用户服务协议-专业版</p>
</div>
<div style="width:5.8rem; height:auto; margin-top:0.2rem; margin-left:0.3rem;" class="xieyi">
    <p style=" font-weight:bold; text-align:center; font-size:0.3rem; line-height:0.6rem;">K19康复网用户服务协议-专业版</p>
    <p>（适用医院、医生、护士、药剂师、心理咨询机构和心理咨询师等专业机构和人员。）</p>
    
    <p>1、用户协议的确认和接纳</p>
    <p>《K19康复网用户服务协议-专业版》（以下简称《协议》）是您（或称“用户”）与重庆可疗科技有限责任公司（以下简称“可疗公司”）关于K19康复网（www.k19ch.com，简称本网站）及相关产品服务所订立的协议。在您决定成为K19康复网注册用户前请仔细阅读本服务条款。您必须在完全同意如下条款的前提下，才能进行用户注册程序。您在进行注册程序过程中勾选“同意”即表示您已阅读并完全接受本协议项下的全部条款。</p>
    
    <p>2. 注册及账户管理</p>
    <p>2.1 您注册成功后，K19康复网将给予您一个用户帐号及相应的密码，该用户帐号和密码由您负责保管；您应当对以您的用户帐号进行的所有活动和事件负法律责任。</p>
    
    <p>2.2您在本网站注册账号时，应当实名认证，并应向K19康复网提交真实、准确、完整、合法有效的注册信息，本网站有权采取合理方式对您的身份进行核实，并仅对通过认证的专业人员提供相应服务。您需提供的注册信息具体包括：</p>
    
    <p>1）身份证；</p>
    <p>2）相关资质或资格证书；</p>
    <p>3）其他K19康复网认为有必要提供的资料。</p>
    <p>2.3如您已通过实名认证，在您的认证信息发生变化时，请及时自行更新，或联系K19康复网协助您更新认证信息。</p>
    
    <p>2.4 你上传提交并通过实名认证的注册信息授权K19康复网根据《协议》及网站公示的相关规则合理使用，您不得擅自删除及修改。</p>
    
    <p>2.5 鉴于专业版用户的特殊性，您在使用K19康复网相关产品时，本网站将对您已认证的头像、名称或姓名、地址、联系方式等基础信息进行展示。</p>
    
    <p>3、用户协议及网站公示规则的完善和修改</p>
    <p>本网站根据互联网的发展和中华人民共和国有关法律、法规的变化，不断地完善服务质量并依此修改本网站的用户协议及相关规则。用户的权利以及义务的表述，均以最新的用户协议及网站公示的相关规则为准。本网站保留随时修改或中断服务而不需要通知您的权利，本网站行使修改或中断服务的权利，不需对您或第三方负责。</p>
    
    <p>4.使用规则</p>
    <p>4.1 您应当严格自律，承诺遵守法律法规、尊重公序良俗，不得发布法律法规和国家有关规定禁止的信息内容。</p>
    
    <p>4.2 您不应将自己的帐号、密码转让或出借予他人使用。如您发现自己的帐号遭他人非法使用，应立即通知K19康复网。因黑客行为或您的保管疏忽导致帐号、密码遭他人非法使用，本网站不承担任何责任。</p>
    
    <p>4.3对于用户通过K19康复网网络服务（包括但不限于问文字、图片、音频和视频等）上传到K19康复网网站上可公开获取区域的任何内容，用户同意K19康复网在全世界范围内具有免费的、永久性的、不可撤销的和完全再许可的权利和许可，以使用、复制、修改、改编、汇编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。</p>
    
    <p>4.4 任何媒体、出版物、网站，如需转载、摘编本网站发表的作品，均须同时获得本网站授权。如用户的作品由本网站汇编成书出版后，本网站将按照著作权法规定与用户另行协商出版稿酬。</p>
    
    <p>4.5 用户若抄袭、模仿他人作品等侵犯他人知识产权的；或者稿件内容侵犯他人名誉权、隐私权、人格权的，由用户承担法律责任，K19康复网概不负责。</p>
    
    <p>4.6 本网站对用户进行采访、拍摄、摄像等形成的作品拥有著作权，本网站拥有该作品据《中华人民共和国著作权法》所规定的权利，作品中所显示的用户人物肖像及观点为本人自愿，未涉及到侵犯个人肖像权等权利。</p>
    
    <p>4.7 您在使用K19康复网网络服务过程中，必须遵循以下原则，若有违反，K19康复网有权随时作出删除相关内容、暂停或终止您使用网络服务等处理：</p>
    
    <p>4.7.1 遵守《互联网医疗保健信息服务管理办法》、《中华人民共和国保守国家秘密法》、《中华人民共和国著作权法》、《互联网电子公告服务管理规定》、《信息网络传播权保护条例》、《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》等有关的法律、法规以及政府部门的规定，只能提供医疗保健信息建议，不得从事网上诊断和治疗活动，不得进行网上售药，不得进行广告性质宣传活动。</p>
    
    <p>4.7.2 遵守所有与网络服务有关的网络协议、规定和程序；</p>
    
    <p>4.7.3 不得为任何非法目的而使用网络服务系统；</p>
    
    <p>4.7.4 不得以任何形式使用本网站网络服务侵犯本网站的商业利益，包括并不限于发布非经本网站许可的商业广告；</p>
    
    <p>4.7.5 不得利用本网站网络服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为；</p>
    
    <p>4.7.6 不得利用本网站提供的网络服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
    
    <p>4.7.7 不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；</p>
    
    <p>4.8 用户同意K19康复网有权在提供网络服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在K19康复网网站的任何页面上投放广告），并且，用户同意接受K19康复网通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息。</p>
    
    <p>4.9 用户同意K19康复网公开并收集用户的求助、咨询及解答等相关信息，供其他网络用户进行信息交流。</p>
    
    <p>4.10 本网站针对某些特定的本网站网络服务的使用通过各种方式（包括但不限于网页公告、电子邮件、短信提醒等）作出的任何声明、通知、警示等内容视为本协议的一部分，您如使用该等网络服务，视为您同意该等声明、通知、警示的内容。</p>
    
    <p>4.11 本协议溯及既往，用户此前通过K19康复网进行的全部活动适用于本协议条款。</p>
    
    <p>5. 知识产权</p>
    <p>5.1本网站所载的文/图/多媒体等稿件均出于为公众传播有益健康的信息之目的。</p>
    
    <p>5.2凡本网站注明来源为K19康复网、K19网站编辑的所有文字、图片和音频视频稿件，版权均属本网站所有，任何媒体、网站或单位和个人未经本网站书面授权不得转载、链接、转贴或以其他方式复制发表。已经本网站书面授权的媒体、网站，应在授权范围内使用，必须注明“稿件来源：K19康复网”，并标明本站网址：http://www.k19ch.com，否则，本网站将依法追究其法律责任。</p>
    
    <p>5.3 凡本网站注明“来源：XXX（非K19康复网）”的作品，或者未标有“来源：K19康复网”的文字、图片、音频视频等稿件，均转载自其它媒体，转载目的在于传递更多信息，并不代表本网站赞同其观点和对其真实性负责。如需转载，请自行与版权所有人联系，并自负法律责任。不得擅自篡改为“稿件来源：K19康复网”，否则本网站将依法追究责任。</p>
    
    <p>5.4 对于已经授权本网站独家使用提供给本站资料的版权所有人的文章、图片、音频、视频等资料，如需转载使用，需取得本网站和版权所有人的同意。</p>
    
    <p>5.5鉴于本网站发布稿件来源广泛、数量较多，如因作者联系方式不详或其它原因未能与著作权拥有者取得联系，著作权人发现本网站转载了其拥有著作权的作品时，请主动与本网站联系，提供相关证明材料，本网站将及时处理。</p>
    
    <p>6. 免责声明
    <p>6.1本网站所有信息仅供参考，不做个别诊断、用药和使用的根据。本网站致力于提供正确、完整的健康资讯，但不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。本网站所提供的任何健康或医药资讯，仅供参考，不能替代医疗机构、医生、其他医务人员、心理咨询机构、心理咨询师的建议，如自行使用本网站资料发生偏差，本站概不负责，亦不负任何法律责任。</p>
    
    <p>6.2在K19康复网中所有关于疾病意见和治疗建议都不能代替执业医师或心理咨询师的面对面诊断。其言论仅代表作者个人观点，请谨慎参阅，K19康复网不承担相关法律责任。</p>
    
    <p>6.3用户须对其自身在使用本网站所提供的服务时的一切行为、行动（不论是否故意）负全部责任。</p>
    
    <p>6.4由于用户将个人密码告知他人或与他人共享注册账号，由此导致的任何个人资料泄露，本网站不负任何责任。凡以任何方式登陆本网站或直接、间接使用本网站资料者，视为自愿接受本网站服务条款的约束。
    <p>6.5因正常的系统维护、系统升级、网络拥塞或其它原因而导致网站不能访问，本网站不承担任何责任。</p>
    
    <p>7. 隐私保护</p>
    <p>7.1保护用户隐私是K19康复网的一项基本政策，K19康复网保证不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在K19康复网的非公开内容，但下列情况除外：</p>
    
    <p>7.1.1 事先获得用户的明确授权；</p>
    <p>7.1.2 根据有关的法律法规要求；</p>
    <p>7.1.3 按照相关政府主管部门的要求；</p>
    <p>7.1.4 为维护社会公众的利益；</p>
    <p>7.1.5 为维护K19康复网的合法权益。</p>
    
    <p>7.2 K19康复网可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与K19康复网同等的保护用户隐私的责任，则K19康复网有权将用户的注册资料等提供给该第三方。</p>
    
    <p>7.3 在不透露单个用户隐私资料的前提下，K19康复网有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
    
    <p>8. 违约赔偿</p>
    <p>8.1您同意保障和维护K19康复网及其他用户的利益，如因您违反有关法律、法规或本协议项下的任何条款而给K19康复网或任何其他第三人造成损失，您同意承担由此造成的损害赔偿责任。</p>
    
    <p>9. 通知送达</p>
    <p>9.1本协议项下本网站对于您所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</p>
    
    <p>9.2 您对于本网站的通知应当通过本网站对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。</p>
    
    <p>10. 附则</p>
    <p>10.1若您不同意本协议的任何条款，请您立即停止使用K19康复网的任何服务，若您继续使用K19康复网服务的，视为您同意继续履行本协议。若K19康复网需要调整本协议的内容及相关规则，您同意该调整。若您不同意调整，请您立即停止使用K19康复网的任何服务，若您继续使用K19康复网服务的，视为您已同意该调整。</p>
    
    <p>本协议及相关规则的解释权归K19康复网所有。</p>

</div>
<div style="height:1.5rem;"></div>
<style>
.xieyi p{ font-size:0.16rem; line-height:0.25rem; margin:0.05rem 0;}
</style>




<!--{include file="home/footer" /}-->
</body>
</html>
