{include file="home/header" /}

<body style="background:#fff;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>发布资讯</p>
</div>
<div class="sjzx_fbzx">
	<div class="bt">
    	<p>标题:</p>
        <input type="text" />
    </div>
    <div class="zuz">
    	<p>作者:</p>
        <input type="text" />
    </div>
    <p class="p1">*此处不选就默认为医院或者机构的名字</p>
    <div class="ycd">
    	<input type="radio" name="ycd" class="ycsm" /><label for="ycsm">原创声明</label>
        <input type="radio" name="ycd" class="zhuanzai"/><label for="zhuanzai">转载至</label><input type="text" class="txt01" />
    </div>
    <div class="fblm">
    	<p>发布栏目</p>
        <select>
        	<option>精神疾病</option>
        </select>
    </div>
    <div class="bg"></div>
    <div class="fbtw">
    	<p>发布图文</p>
        <textarea></textarea>
    </div>
    <div class="fbsp">
    	<p>发布视频</p>
    	<img src="/home/picture/tp14.png" />
        <p class="p3">*视频格式支持MP4，大小不能超过25M禁止发布黄、毒、赌等反社会视频，一旦查出将无期限封闭账户，并不予退还相关的费用，请知晓。</p>
    </div>
    <div class="bg"></div>
    <div class="lygn">
    	<input type="radio" value="" id="openly" name="lygn" />
        <label for="openly">开启留言功能</label>
        <input type="radio" value="" id="closely" name="lygn" />
        <label for="closely">关闭留言功能</label>
    </div>
    <div class="czan">
    	<a href="sjzx_arc.html">预览效果</a>
        <a href="#" class="a2">保存备用</a>
    </div>
    <p class="p2"><span>*</span>系统会保存3天，3天没有发布，会自动删除</p>
    <div class="tjsh">
    	<a href="sjzx_tjsh.html">提交审核</a>
        <p><span>*</span>预计审核需要1-2个工作日完成，请耐心等待。</p>
    </div>
    
</div>







<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->
{include file="home/footer" /}
</body>
</html>
