{include file="home/header" /}

<body style="background:#f2f2f2;">
<div class="sjzx_main">
	<div class="bann">
    	<img src="/home/picture/sjbann.png" />
    </div>
    <div class="yytt">
    	<p>重庆医科大学附属第二医院</p>
    </div>
    <div class="xxupt">
    	<p class="p1"><span></span>基本信息修改<img src="/home/picture/tb50.png" /></p>
        <div class="mk01">
       		<p class="p2">简介：</p>
        	<textarea>重庆医科大学附属第二医院，前身为始建于1892年的宽仁医院，横跨三个世纪，历经一百多年，医院逐步形成了“关怀、专注、创新”的办院理念，是集医疗、教学、科研、预...</textarea>
        </div>
       	<div class="mk02">
        	<p class="p2">地址：</p>
            <input type="text" value="重庆市渝中区临江路74号">
        </div>
        <div class="mk03">
        	<p class="p2">营业时间：</p>
            <input type="text" value="07:00-21:00">
        </div>
        <div class="mk03">
        	<p class="p2">联系人：</p>
            <input type="text" value="王小姐">
        </div>
        <div class="mk03">
        	<p class="p2">联系电话：</p>
            <input type="text" value="15923288796">
        </div>
        <div class="bott">
            <a href="#" class="qr">确认更改</a>
        </div>
    </div>
    <div class="zxsgl">
    	<p class="p1"><span></span>医生/咨询师管理<img src="/home/picture/tb50.png" /></p>
        <ul>
        	<li>
            	<img src="/home/picture/tp09.png" />
                <div class="rt">
                	<p class="p2">贾金鼎<span>心理科</span><span class="sp1">精神科</span></p>
                    <p class="p3">简介：</p>
                    <textarea></textarea>
                </div>
            </li>
            <li>
            	<img src="/home/picture/tp09.png" />
                <div class="rt">
                	<p class="p2">贾金鼎<span>心理科</span><span class="sp1">精神科</span></p>
                    <p class="p3">简介：</p>
                    <textarea></textarea>
                </div>
            </li>
        </ul>
<!--        <div class="addys">-->
<!--        	<a href="sjzx_tjys.html"><img src="picture/tp14.png" /></a>-->
<!--            <p class="p4">添加医生/咨询师</p>-->
<!--        </div>-->
    </div>
    
<!--    <div class="fbwz">-->
<!--    	<p class="p1"><span></span>文章发布<img src="picture/tb50.png" /></p>-->
<!--        <ul>-->
<!--        	<li>-->
<!--            	<a href="sjzx_fbzx.html">-->
<!--                    <span></span>-->
<!--                    <p>发布资讯信息</p>-->
<!--                    <img src="picture/tb26.png" />-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--            	<a href="sjzx_fbzx.html">-->
<!--                    <span></span>-->
<!--                    <p>发布资讯信息</p>-->
<!--                    <img src="picture/tb26.png" />-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--            	<a href="sjzx_fbzx.html">-->
<!--                    <span></span>-->
<!--                    <p>发布资讯信息</p>-->
<!--                    <img src="picture/tb26.png" />-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--            	<a href="sjzx_fbzx.html">-->
<!--                    <span></span>-->
<!--                    <p>发布资讯信息</p>-->
<!--                    <img src="picture/tb26.png" />-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <div style="clear:both;"></div>-->
<!--    </div>-->
    
<!--    <div class="kfxx">-->
<!--    	<p class="p1"><span class="sp01"></span><span class="sp03">客服信息</span><span class="sp02">99</span><img src="picture/tb50.png" /></p>-->
<!--        <ul>-->
<!--        	<li>-->
<!--            	<p class="p2">王某某&nbsp;&nbsp;&nbsp;2021-05-18</p>-->
<!--                <p class="p3">最近我压力实在是太大了，工作的事生活的事压得我喘不过气，晚上更是睡不着，明明...</p>-->
<!--            </li>-->
<!--            <li>-->
<!--            	<p class="p2">王某某&nbsp;&nbsp;&nbsp;2021-05-18</p>-->
<!--                <p class="p3">最近我压力实在是太大了，工作的事生活的事压得我喘不过气，晚上更是睡不着，明明...</p>-->
<!--            </li>-->
<!--        </ul> -->
<!--    </div>-->
    
    <div class="lyhf">
    	<p class="p1"><span class="sp01"></span><span class="sp03">留言回复</span><span class="sp02">99</span><img src="picture/tb50.png" /></p>
        <ul>
        	<li>
            	<p class="p2">王某某&nbsp;&nbsp;&nbsp;2021-05-18<span>精神疾病类别</span></p>
                <p class="p3">通过放松治疗降低患者睡眠时的紧张和过度的警觉，让患者直面失眠所引起的恐惧...</p>
            </li>
            <li>
            	<p class="p2">王某某&nbsp;&nbsp;&nbsp;2021-05-18<span>精神疾病类别</span></p>
                <p class="p3">通过放松治疗降低患者睡眠时的紧张和过度的警觉，让患者直面失眠所引起的恐惧...</p>
            </li>
        </ul> 
    </div>
    
    <div class="qiehuan">
    	<a href="{:URL('/home/grzx_main')}">切换个人版本</a>
        <p>您当前属于商家版本</p>
    </div>
    
</div>

<div style="height:2rem;"></div>


{include file="home/footer" /}
<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->


<script>
$(".in_wzzx").find(".nav").find("li").find(".p1").click(function(){
	$(".in_wzzx").find(".nav").find("li").find(".p1").removeClass("chkcs");
	$(this).addClass("chkcs");
	$(".in_wzzx").find(".nav").find("li").find(".wzzx").hide();
	$(this).next(".wzzx").show();
});	
</script>
</body>
</html>
