{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>我只想倾诉</p>
</div>

<div class="wzxqs_xz">
	<div class="qs_xz">
    	<select style="margin-right:0.3rem;">
        	<option>默认排序</option>
            <option>倾诉最多</option>
            <option>评价最高</option>
        </select>
        <select style="margin-right:0.3rem;">
        	<option>方向选择</option>
            <option>家庭</option>
            <option>婚姻</option>
            <option>亲子</option>
        </select>
        <select>
        	<option>性别</option>
            <option>男</option>
            <option>女</option>
        </select>
    </div>
</div>

<div class="wzxqs_list">
	<ul>
        {foreach $data as $k=>$v}
    	<li>
        	<a href="{:URL('/home/wzxqs_arc/'.$v['UserId'])}">
                <img src="{$v['UserAvatar']}" />
                <div class="rt">
                    <p class="p1">{$v['Name']}<span>语音倾诉</span></p>
                    <p class="p2">{$v['Signature']}</p>
                    <p class="p3">
                        {foreach $v['Specialty'] as $k=>$item}
                            <span>{$item}</span>
                        {/foreach}
                    </p>
                    <p class="p4 clr">服务人数：<span>{$v['ServiceNum']}</span> &nbsp;&nbsp;&nbsp;好评率：<span>{$v['PraiseRate']}%</span></p>
                </div>
            </a>
        </li>
        {/foreach}
<!--        <li>-->
<!--        	<img src="/home/picture/tp07.png" />-->
<!--            <div class="rt">-->
<!--            	<p class="p1">贾金鼎<span>语音倾诉</span></p>-->
<!--                <p class="p2">倾听是对他人的一种恭敬，一种尊重，一分理解，一分虔诚</p>-->
<!--                <p class="p3"><span>婚姻</span><span>职场</span><span>人际</span></p>-->
<!--                <p class="p4 clr">服务人数：<span>500</span> &nbsp;&nbsp;&nbsp;好评率：<span>98%</span></p>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<img src="/home/picture/tp07.png" />-->
<!--            <div class="rt">-->
<!--            	<p class="p1">贾金鼎<span>语音倾诉</span></p>-->
<!--                <p class="p2">倾听是对他人的一种恭敬，一种尊重，一分理解，一分虔诚</p>-->
<!--                <p class="p3"><span>婚姻</span><span>职场</span><span>人际</span></p>-->
<!--                <p class="p4 clr">服务人数：<span>500</span> &nbsp;&nbsp;&nbsp;好评率：<span>98%</span></p>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<img src="/home/picture/tp07.png" />-->
<!--            <div class="rt">-->
<!--            	<p class="p1">贾金鼎<span>语音倾诉</span></p>-->
<!--                <p class="p2">倾听是对他人的一种恭敬，一种尊重，一分理解，一分虔诚</p>-->
<!--                <p class="p3"><span>婚姻</span><span>职场</span><span>人际</span></p>-->
<!--                <p class="p4 clr">服务人数：<span>500</span> &nbsp;&nbsp;&nbsp;好评率：<span>98%</span></p>-->
<!--            </div>-->
<!--        </li>-->
    </ul>
</div>

<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
