{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>心理健康测试</p>
</div>

<div class="xlcs_list">
	<div class="tt">
    	<p class="p1">测试题</p>
        <p class="p2">欢迎程度</p>
    </div>
    <ul class="u1">
        {foreach $data as $k=>$v}
        <a href="{:URL('/home/xlcs_arc?id='.$v['ID'])}">
            <li>
                <p class="p1">{$v['Title']}</p>
                <div class="nd">
                    {$v['Grade']} 星
<!--                    <ul>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    </ul>-->
                </div>
            </li>
        </a>
        {/foreach}
<!--    	<a href="{:URL('home/xlcs_arc')}">-->
<!--        <li>-->
<!--            <p class="p1">抑郁症</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        </a>-->
<!--        <li>-->
<!--        	<p class="p1">心理健康评估</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<p class="p1">多动症 注意力缺陷障碍测试</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<p class="p1">沮丧</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<p class="p1">虚弱还是强壮？</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<p class="p1">睡眠质量检测</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<p class="p1">更年期的征兆及预防</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<p class="p1">情感失调和情绪饮食测试</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<p class="p1">双向情感障碍这些行为你知道吗？</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb18.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--        	<p class="p1">抑郁症判断</p>-->
<!--            <div class="nd">-->
<!--            	<ul>-->
<!--                	<li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    <li><img src="/home/picture/tb19.png" /></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
    </ul>
</div>


{include file="home/footer" /}
<!--&lt;!&ndash;底部js&ndash;&gt;-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->
</body>
</html>
