{include file="home/header" /}
<style>
    .layui-rate{
        margin-top:-18px;
    }
    /*.layui-inline{*/
    /*    margin-right:8px;*/
    /*}*/
</style>
<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>{$title}</p>
</div>

<div class="xlcs_list">
	<div class="tt">
    	<p class="p1">测试题</p>
        <p class="p2">欢迎程度</p>
    </div>
    <ul class="u1">
        {foreach $data as $k=>$v}
        <a href="{:URL('/home/xlcs_arc?id='.$v['ID'].'&title='.$v['Title'])}">
            <li>
                <p class="p1">{$v['Title']}</p>
                <div class="nd">
<!--                    {$v['Grade']}星-->
                    <div><div id="{$v['ID']}"></div></div>
<!--                    <ul>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                        <li><img src="/home/picture/tb19.png" /></li>-->
<!--                    </ul>-->
                </div>
            </li>
        </a>
        {/foreach}
    </ul>
</div>


{load href="/admin/lib/layui/css/layui.css"}
{load href="/admin/lib/layui/layui.js"}

<script>
    layui.use(['rate'], function () {
        var rate = layui.rate;
        {foreach $data as $k=>$v}
        rate.render({
            elem: "#{$v['ID']}"
            ,length: 5
            ,value: {$v['Grade']}
        });
        {/foreach}
    });
</script>




{include file="home/footer" /}

</body>
</html>
