{include file="home/header" /}

<body style="background:#f4f4f4;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>对话中...</p>
</div>

<div class="zczx_dh">
	<ul>
    	<li class="lf">
        	<img src="/home/picture/tp06.png" class="img01" />
            <div class="dhn">
                <img src="/home/picture/tb23.png" class="img02"/>
                <p>您好，请问有什么需要帮助的吗？</p>
            </div>
        </li>
        <li class="rt">
        	<img src="/home/picture/tp06.png" class="img01" />
            <div class="dhn">
                <img src="/home/picture/tb24.png" class="img02"/>
                <p>我想咨询抑郁症的病症</p>
            </div>
        </li>
        <li class="lf">
        	<img src="/home/picture/tp06.png" class="img01" />
            <div class="dhn">
                <img src="/home/picture/tb23.png" class="img02"/>
                <p>您好，请问有什么需要帮助的吗？</p>
            </div>
        </li>
        <li class="rt">
        	<img src="/home/picture/tp06.png" class="img01" />
            <div class="dhn">
                <img src="/home/picture/tb24.png" class="img02"/>
                <p>我想咨询抑郁症的病症</p>
            </div>
        </li>
    </ul>
</div>

<!--底部js-->
<script type="text/javascript" src="js/footer.js"></script>
</body>
</html>
