{include file="home/header" /}
<style>
    .layui-btn {
        height: 30px;
        line-height: 30px;
        border: 1px solid transparent;
        padding: 0 18px;
        background-color: #009688;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        font-size: 14px;
        border-radius: 2px;
        cursor: pointer;
    }
</style>
<body style="background:#f5f5f5;">
<div class="head2">
    <a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png"/></a>
    <p>心理咨询师</p>
</div>
<div class="zxs_fd">
    <div class="find">
        <form>
            <input type="text" placeholder="请输入城市" name="city" class="ct"/>
            <input type="submit" value="搜索" class="ser"/>
        </form>


    </div>

    <span style="position:fixed;right:20px;top:40px;color:white;" class="icon">更多城市</span>

</div>


<!--城市查找侧边栏-->
<div class="yyTree" id="yyTree">
    <div class="yyTrft">
        <div class="bt">
            <img src="/home/picture/tb26.png" class="adr"/>
            <p>全部医生</p>
            <img src="/home/picture/tb27.png" class="chk icon"/>
        </div>
        <div class="hx"></div>
        <div class="dq">
            {if empty(!$area)}
            {foreach $area as $k=>$v}
            <p class="p1">{$v['CityName']}</p>
            <ul>
                {foreach $v['cityall'] as $k=>$item}
                <li><a href="{:URL('/home/search/?city_name='.$item['CityName'])}">{$item['CityName']} </a></li>
                {/foreach}
            </ul>
            {/foreach}
            {/if}
        </div>
    </div>
    <div class="yyTrRt"></div>
</div>


<script>
    $(function () {
        $(".icon").click(function () {
            //$(".navTree").show();
            $(".yyTree").addClass("thisyyTree");
            $("body").addClass("noScroll");
        });

        $(".yyTrRt").click(function () {
            //$(".navTree").hide();
            $(".yyTree").removeClass("thisyyTree");
            $("body").removeClass("noScroll");
        });

    });
</script>


<div class="zxs_list" style="margin-top:0;">

    <ul class="u1">
        {if empty($data)}
            <p style="text-align:center;">当前该区域暂时没有医师，敬请期待！</p>
        {else /}
        {foreach $data as $k=>$v}
        <li>
            <img src="http://admin.gsdblog.cn.{$v['UserAvatar']}"/>
            <div class="rt">
                <p class="p1">{$v['RealName']}</p>{$v['Remark']|mb_substr=0,16,'utf-8'}
                <p class="p2"></p>
                <a href="{:URL('/home/xlzxs_arc/'.$v['UID'])}" class="zx">了解更多</a>
            </div>
        </li>
        {/foreach}
        {/if}

        {notempty name="keywords"}
        <div style="display:flex;margin-top:30px;">
            <a style="margin:0 auto;" href="{:URL('/home/xlzxs_list')}" class="layui-btn">清空筛选</a>
        </div>
        {/notempty}

    </ul>
</div>


{include file="home/footer" /}
</body>
</html>
