{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>贾金鼎</p>
</div>

<div class="zxs_arc">
	<div class="mk01">
    	<img src="/home/picture/tp02.png" />
        <div class="ct">
        	<p class="p1">{$DoctorDetail['RealName']}</p>
            <p class="p2">心理咨询师</p>
<!--            <p class="p3">信阳心理咨询</p>-->
        </div>
        <a href="#">向他咨询</a>

        {if empty($result)}
            <a href="javascript:" onclick="UserFollow()" class="a2">关注</a>
        {else /}
            <a href="javascript:" class="followed" style="background:gray;margin-top:10px;">已关注</a>
        {/if}


    </div>
    <div class="mk02">
        {if empty(!$ParentName)}
    	<p class="p1">任职机构</p>
        <div class="hx"></div>
            <p class="p2">{$ParentName['Name']}</p>
        {/if}

        <p class="p3">地址：
            {$DoctorDetail['Province']}{$DoctorDetail['City']}
            {$DoctorDetail['Area']}{$DoctorDetail['Address']}
        </p>
        <p class="p4">电话：{$DoctorDetail['UserPhone']}</p>
    </div>
    <div class="mk03">
    	<p class="p1">个人擅长</p>
        <div class="hx"></div>
        {if empty(!$DoctorDetail['Specialty'])}
            {foreach $DoctorDetail['Specialty'] as $k=>$v}
                 <p class="p2">{$v}</p>
    <!--           <p class="p2">神经症，抑郁症，焦虑症，社交恐惧，疑病症精神病康复等</p>-->
            {/foreach}
        {/if}
    </div>
    <div class="mk04">
    	<p class="p1">个人简介</p>
        <div class="hx"></div>
        <div class="nr">
            <p>{$DoctorDetail['Remark']}</p>
<!--        	<p>临床医学精神学专家、高级青少年心灵导师、中国资深婚恋专家、国家二级心理咨询师、心理学硕士研究生、心理治疗师</p>-->
<!--            <p>国家级著名心理专家，毕业于河南省新乡医学院“临床医学”，硕士毕业于武汉大学“应用心理学”专业。多年临床职场管心理学研究型专家，尤为神经症，抑郁症，焦虑症，社交恐惧，疑病症精神病康复等擅长青少年心理辅导及家庭资深专家。临床医学专业知识与硕士研究生的应用心理学相关知识相结合，潜心研究心理学与医学的精华，并运用于咨询与治疗心理问题的实践，开创了一条以心理辅导为主，以生理调节为辅的咨询道路。参加省市级心</p>-->
        </div>
    </div>
    
</div>
{load href="/admin/lib/layui/layui.js"}

<script>

    layui.use(['form', 'code'], function () {
        form = layui.form;

    });

    function UserFollow(){
        $.ajax({
            url:'/home/UserFollow/'+{$DoctorDetail['UserId']},
            type:'POST',
            data:{},
            dataType:'JSON',
            success:function (data){
                if(data['code'] == 200){
                    layer.msg(data.msg, {icon: 1, time: 1500});
                    location.reload();
                }else{
                    layer.msg(data.msg, {icon: 5, time: 2000});
                }
            }

        })
    }
</script>

<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->
{include file="home/footer" /}
</body>
</html>
