{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>抑郁测试</p>
</div>

<div class="ylcs_mn">
	<div class="jd">
    	<!--<img src="picture/tp03.png" />-->
        <div class="jdt">
        	<div class="wc"></div>
            <img src="/home/picture/tb20.png" />
        </div>
        <p class="p1">10%</p>
        <p class="p2">1/10</p>
    </div>
    <div class="wt">
    	<p class="p1">1.我宁愿对很多事情有一般的知识，而不愿对一个领域有很多的了解。</p>
        <ul>
            <li>
                <input type="radio" value="1" id="choice_1" name="question_1" />
                <label for="choice_1">大多是真的</label>
           </li>
           <li>
                <input type="radio" value="2" id="choice_2" name="question_1" />
                <label for="choice_2">正确或错误</label>
           </li>
           <li>
                <input type="radio" value="3" id="choice_3" name="question_1" />
                <label for="choice_3">大多是假的</label>
           </li>
           <li>
                <input type="radio" value="4" id="choice_4" name="question_1" />
                <label for="choice_4">完全错误</label>
           </li>
    	</ul>
        <div class="xztj">
        	<p class="p2">上一题</p>
            <a href="{:URL('/home/ylcs02')}"><p class="p3">下一题</p></a>
        </div>
        <div style=" height:1rem;clear:both;"></div>
    </div>
</div>
<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
