{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>抑郁测试-专业版</p>
</div>

<div class="ylcs_mn">
	<div class="jd">
    	<!--<img src="picture/tp03.png" />-->
<!--        <div class="jdt">-->
<!--        	<div class="wc"></div>-->
<!--            <img src="/home/picture/tb20.png" />-->
<!--        </div>-->
<!--        <p class="p1">100%</p>-->
<!--        <p class="p2">10/10</p>-->
        <p style="float:right;margin-right:15px;margin-top: 18px;" class="p2-num">0/0</p>
    </div>
    {foreach $data as $k=>$v}
    <div class="wt">
        <p class="p1" item="num">{$v['Title']}</p>
        <ul class="question">
            {foreach $v['Select'] as $key=>$item}
            <li class="ck" i="{$k}">
<!--                <input type="radio" value="{$item->title}" index-title="{$v['Title']}" class="ck" name="question_{$k}"/>-->
<!--                <label>{$item->title}</label>-->
                <input id="{$item->score}_{$k}" type="radio" value="{$item->title}" class="rad" index-title="{$v['Title']}" name="question_{$k}" style="display:none;"/>
                <label for="{$item->score}_{$k}">{$item->title}</label>
            </li>
            {/foreach}
        </ul>
        <div class="xztj">
            <p class="p2">上一题</p>
            <a href="javascript:"><p class="p3">下一题</p></a>
<!--            <a href="javascript:alert('正在测试中，敬请期待！')" style="display:none;float:right;margin-right:55px;">提交</a>-->
            <p style="display:none;float:right;margin-right:55px;" class="p4" onclick="keep({$user_test})" id="reg">提交</p>
        </div>
        <div style=" height:1rem;clear:both;"></div>
    </div>
    {/foreach}
</div>
<!--专业测试弹出-->
<!--<div class="zctc">-->
<!--	<div class="fk">-->
<!--    	<div class="nr">-->
<!--        	<p class="p1">请您留下邮箱地址</p>	-->
<!--        	<input type="text" name="email" /> -->
<!--            <p class="p1">您可以选填微信</p>	-->
<!--        	<input type="text" name="weixin" /> -->
<!--            <p class="p1">用户自述</p>	-->
<!--        	<textarea name="zisu"></textarea>-->
<!--        </div>-->
<!--		<p class="p2">取消</p>-->
<!--        <p class="p3">确定</p>-->
<!--    </div>-->
<!--</div>-->

<!--付费弹出-->
<!--<div class="fftc">-->
<!--	<div class="fk" style="height:5.0rem;">-->
<!--    	<p class="p1">抑郁测试<span>￥2.99</span></p>-->
<!--        <p class="p2">选择支付方式</p>-->
<!--        <ul>-->
<!--        	<li>-->
<!--            	<input type="radio" value="" id="weixin" index-pay="1" name="zhifu" />-->
<!--                <label for="weixin"><img src="/home/picture/tb21.png" />微信支付</label>-->
<!--            </li>-->
<!--&lt;!&ndash;            <li>&ndash;&gt;-->
<!--&lt;!&ndash;            	<input type="radio" value="" id="zhifubao" index-pay="2" name="zhifu" />&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="zhifubao"><img src="/home/picture/tb22.png" />支付宝支付</label>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--        </ul>-->
<!--        <div style="display:flex;margin-top:20px;">-->
<!--            <input style="width:40%;margin-left:30px;text-align:center;background:#ef8d6f;color:#fff;line-height:0.8rem;"  class="close"-->
<!--                   value="取消" />-->
<!--            <input style="width:40%;margin-left:15px;" class="qr" value="确认付款" onclick="keep({$user_test})" />-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



{load href="/admin/lib/layui/layui.js"}
{load href="/home/js/question_switch.js"}

<script>

    layui.use(['form', 'code'], function () {
        form = layui.form;

    });

    //获取对应的支付类别的属性值
    // $('#weixin').click(function(){
    //     pay_way = $(this).attr('index-pay')
    //     // console.log(pay_way)
    // })
    // $('#zhifubao').click(function(){
    //     pay_way = $(this).attr('index-pay')
    //     // console.log(pay_way)
    // })

    var arr = [];
    // var pay_way;

    $('.ck').click(function () {
        $(this).parent('ul').find('li').removeClass('active');
        $(this).addClass('active');
        var selct = $(this).find('input').val();
        var title = $(this).find('input').attr('index-title');
        // console.log(title,selct)
        var i=$(this).attr('i');
        if ($(this).find('.rad').attr('checked')=='checked') {
            $(this).find('.rad').attr('checked','');
            // count -= parseInt(check_val);
            // arr.push({title:title,select:selct})
        } else {
            $(this).find('.rad').attr('checked','checked');
            // arr.pop({title:title,select:selct})
            // count += parseInt(check_val);
        }
        arr[i]={title:title,select:selct};
        // console.log(count_arr);

        // console.log(arr)
    })

    // $('.ck').click(function () {
    //     var selct = $(this).val();
    //     var title = $(this).attr('index-title')
    //     // console.log(title,selct)
    //     if ($(this).is(':checked')) {
    //         arr.push({title:title,select:selct})
    //     } else {
    //         arr.pop({title:title,select:selct})
    //     }
    //
    //     console.log(arr)
    // })

    function keep(user_test_id) {
        if(arr.length == 0){
            layer.msg('请依次进行选择',{ icon:5,time:2000})
            return false
        }
       // console.log(arr)

        $.ajax({
            url:'/home/question_record',
            data:JSON.stringify({
                'arr':arr,
                // 'pay_way':pay_way,
                "user_test_id":user_test_id
            }),
            type:'POST',
            dataType:'JSON',
            success:function (data) {
               // console.log(data)
                if(data.code == 200){
                    layer.msg(data.msg,{ icon:1,time:2000})
                    window.setTimeout("window.location='https://m.gsdblog.cn/'",2000);
                    // window.location.href="https://m.gsdblog.cn/"
                }
            }
        })
    }




     $('.close').click(function () {
         $(".fftc").hide();
     })
    //
	$(".p4").click(function(){
	    console.log(11111)
	// 	$(".zctc").css('display','block');
	// 	});
	// // $(".zctc").find(".fk").find(".p2").click(function(){
	// // 	$(".zctc").css('display','none');
	// // 	});
	// // $(".zctc").find(".fk").find(".p3").click(function(){
	// // 	$(".zctc").css('display','none');
		$(".fftc").css('display','block');
		});
</script>

{include file="home/footer" /}
</body>
</html>
