{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
    <a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png"/></a>
    <p>抑郁测试-娱乐版</p>
</div>

<div class="ylcs_mn">
    <div class="jd">
        <!--<img src="picture/tp03.png" />-->
        <!--        <div class="jdt">-->
        <!--            <div class="wc"></div>-->
        <!--            <img src="/home/picture/tb20.png"/>-->
        <!--        </div>-->
        <!--        <p class="p1">10%</p>-->
        <p style="float:right;margin-right:15px;margin-top: 18px;" class="p2-num">0/0</p>
    </div>


    {foreach $data as $k=>$v}
    <div class="wt">
        <p class="p1" item="num">{$v['Title']}</p>
        <ul class="question">
            {foreach $v['Select'] as $key=>$item}
            <li  class="cks" i="{$k}">
                <input id="{$item->score}_{$k}" type="radio" value="{$item->score}" class="rad" name="question_{$k}" style="display:none;"/>
                <label for="{$item->score}_{$k}">{$item->title}</label>
            </li>
            {/foreach}
        </ul>
        <div class="xztj">
            <p class="p2">上一题</p>
            <a href="javascript:"><p class="p3">下一题</p></a>
            <p style="display:none;float:right;margin-right:55px;" class="p4" onclick="sub()">提交</p>
            <!--            <a href="{:URL('/home/ylcs02')}"><p class="p3">下一题</p></a>-->
        </div>
        <div style=" height:1rem;clear:both;"></div>
    </div>
    {/foreach}
</div>

{load href="/admin/lib/layui/layui.js"}
{load href="/home/js/free_test.js"}
{load href="/home/js/question_switch.js"}
<script>

    layui.use(['form', 'code'], function () {
        form = layui.form;

    });

</script>


{include file="home/footer" /}
</body>
</html>
