{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>自测中心</p>
</div>

<div class="zczx_mn">
	<ul>
        {foreach $result as $k=>$v}
        <li><a href="{:URL('home/xlcs_list?'.'id='.$v['ID'])}">{$v['MenuName']}</a></li>
        {/foreach}
        <li><a href="{:URL('home/xlzxs_list')}">我不想测试 直接咨询心理师</a></li>
<!--    	<li><a href="{:URL('home/xlcs_list')}">职业测试</a></li>-->
<!--        <li><a href="{:URL('home/xlcs_list')}">心理健康测试</a></li>-->
<!--        <li><a href="{:URL('home/xlcs_list')}">性格测试</a></li>-->
<!--        <li><a href="{:URL('home/xlcs_list')}">社交人际关系</a></li>-->
<!--        <li><a href="{:URL('home/xlzxs_list')}">我不想测试<br/>能直接安排心理咨询师吗？</a></li>-->
    </ul>
</div>

<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->

{include file="home/footer" /}
</body>
</html>
