{include file="home/header" /}

<body style="background:#f5f5f5;">
<div class="head2">
	<a href="javascript:history.go(-1);"><img src="/home/picture/tb16.png" /></a>
    <p>虐待儿童</p>
</div>
<div class="zsxg_arc">
	<div class="bann">
    	<img src="/home/picture/bann01.png" />
    </div>
    <div class="nr">
    	<div class="tt">
        	<ul>
                <li>概述</li>
                <li>症状</li>
                <li>迹象</li>
                <li>原因</li>
                <li>治疗</li>
            </ul>
        </div>
		<div class="gaisu">
        	<p class="p1"><img src="/home/picture/tb27.png" />概述</p>
            <p class="p2">身体、语言或性伤害可能导致虐待儿童。虽然虐待儿童通常被认为是采取行动的形式，但也有一些无所作为的例子，例如忽视，会造成伤害。与没有参加活动的家庭相比，参加者遭受酒精中毒，滥用药物或愤怒问题的家庭发生虐待儿童的可能性更高。虐待儿童的后果可能导致短期和长期伤害，甚至死亡。一些孩子可能没有意识到自己是虐待儿童的受害者。虐待儿童现象很普遍，可能发生在任何文化，种族或收入群体中。</p>
        </div>
        <div class="gaisu">
        	<p class="p1"><img src="/home/picture/tb28.png" />症状</p>
            <p class="p2">身体、语言或性伤害可能导致虐待儿童。虽然虐待儿童通常被认为是采取行动的形式，但也有一些无所作为的例子，例如忽视，会造成伤害。与没有参加活动的家庭相比，参加者遭受酒精中毒，滥用药物或愤怒问题的家庭发生虐待儿童的可能性更高。虐待儿童的后果可能导致短期和长期伤害，甚至死亡。一些孩子可能没有意识到自己是虐待儿童的受害者。虐待儿童现象很普遍，可能发生在任何文化，种族或收入群体中。</p>
        </div>
        <div class="gaisu">
        	<p class="p1"><img src="/home/picture/tb29.png" />迹象</p>
            <p class="p2">身体、语言或性伤害可能导致虐待儿童。虽然虐待儿童通常被认为是采取行动的形式，但也有一些无所作为的例子，例如忽视，会造成伤害。与没有参加活动的家庭相比，参加者遭受酒精中毒，滥用药物或愤怒问题的家庭发生虐待儿童的可能性更高。虐待儿童的后果可能导致短期和长期伤害，甚至死亡。一些孩子可能没有意识到自己是虐待儿童的受害者。虐待儿童现象很普遍，可能发生在任何文化，种族或收入群体中。</p>
        </div>
        <div class="gaisu">
        	<p class="p1"><img src="/home/picture/tb30.png" />原因</p>
            <p class="p2">身体、语言或性伤害可能导致虐待儿童。虽然虐待儿童通常被认为是采取行动的形式，但也有一些无所作为的例子，例如忽视，会造成伤害。与没有参加活动的家庭相比，参加者遭受酒精中毒，滥用药物或愤怒问题的家庭发生虐待儿童的可能性更高。虐待儿童的后果可能导致短期和长期伤害，甚至死亡。一些孩子可能没有意识到自己是虐待儿童的受害者。虐待儿童现象很普遍，可能发生在任何文化，种族或收入群体中。</p>
        </div>
        <div class="gaisu">
        	<p class="p1"><img src="/home/picture/tb31.png" />治疗</p>
            <p class="p2">身体、语言或性伤害可能导致虐待儿童。虽然虐待儿童通常被认为是采取行动的形式，但也有一些无所作为的例子，例如忽视，会造成伤害。与没有参加活动的家庭相比，参加者遭受酒精中毒，滥用药物或愤怒问题的家庭发生虐待儿童的可能性更高。虐待儿童的后果可能导致短期和长期伤害，甚至死亡。一些孩子可能没有意识到自己是虐待儿童的受害者。虐待儿童现象很普遍，可能发生在任何文化，种族或收入群体中。</p>
        </div>
    </div>
    
</div>

{include file="home/footer" /}

<!--底部js-->
<!--<script type="text/javascript" src="js/footer.js"></script>-->
</body>
</html>
